<h1> <%= @movie.title %> </h1>
<p>Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<p>Actors: </p>
<% @movie.actors.order(:age).each do |actor| %>
  <li> <%= actor.name %> </li>
<% end %>

<p>Average Age: <%= @movie.actors.average(:age).round(1)%></p>

<p>Add Actor: </p>
<%= form_with url: "/movies/#{@movie.id}?search=actor", method: :post, local: true do |form| %>
  <%= form.label :actor %>
  <%= form.text_field :actor %>
  <%= form.submit "Add actor" %>
<% end %>
